*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.p-component {
  font-family: 'STCForward', sans-serif;
  font-size: 14px;
  // font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}
