<p-dialog
  (onHide)="closeModal()"
  [header]="'boards.create' | translate"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '50vw', height: '48vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="h-full">
    <form class="h-full" [formGroup]="form" *ngIf="form">
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col">
          <label class="mb-2" for="name">{{ 'boards.form.name' | translate }}</label>
          <p-dropdown
            placeholder="Name"
            class="w-full py-2"
            name="name"
            [options]="boardNames"
            formControlName="name"
          ></p-dropdown>
          <div class="mt-2">
            <small *ngIf="formData['name'].touched && formData['name'].invalid" class="p-error">{{
              'boards.form.errors.name' | translate
            }}</small>
          </div>
        </div>
        <div class="p-field col">
          <label class="mb-2" for="icon">{{ 'boards.form.type' | translate }}</label>
          <p-dropdown
            placeholder="Type"
            class="w-full py-2"
            name="type"
            [options]="boardTypes"
            formControlName="type"
          ></p-dropdown>
          <div class="mt-2">
            <small *ngIf="formData['type'].touched && formData['type'].invalid" class="p-error">{{
              'boards.form.errors.type' | translate
            }}</small>
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <app-button
      [label]="'boards.create' | translate"
      icon="pi pi-check"
      [disabled]="!form.valid"
      (handleClick)="onSubmit()"
    ></app-button>
  </ng-template>
</p-dialog>
