<p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
<div class="feature-container p-3">
  <div class="draft flex flex-column align-items-start" *ngIf="dropDownOptions.length > 0; else empty">
    <div class="left">
      <app-drop-down
        [options]="dropDownOptions"
        [label]="'createdAt'"
        placeholder="select"
        [defaultValue]="selectedDraft"
        (changeOption)="changeOption($event)"
      ></app-drop-down>
    </div>
    <div class="right">
      <div class="card">
        <h2 class="user py-2">Edited By: {{ selectedDraft?.user?.name }}</h2>
      </div>
      <div class="mb-3">
        <h2 class="user py-2">Description</h2>
        <div class="description" [innerHTML]="selectedDraft?.description | sanitizeHtml"></div>
      </div>
      <!-- attachments  -->
      <div class="attachments my-3" *ngIf="selectedDraft?.attachments?.length">
        <h3>Attachments</h3>
        <div class="flex flex-wrap mt-2">
          <app-attachments [attachments]="selectedDraft?.attachments || []"></app-attachments>
        </div>
      </div>
      <div class="attachments my-3" *ngIf="selectedDraft?.uxAttachments?.length">
        <h3>UX Attachments</h3>
        <div class="flex flex-wrap mt-2">
          <app-attachments [attachments]="selectedDraft?.uxAttachments || []"></app-attachments>
        </div>
      </div>
      <app-button
        *ngIf="activeItem.id === 'draft'"
        [label]="'publish change'"
        [className]="'p-button-raised'"
        (handleClick)="publishChange()"
      ></app-button>
    </div>
  </div>

  <!-- empty msg if no history -->
  <ng-template #empty>
    <div class="edit flex align-items-center" [ngClass]="{ 'flex-column': showEditInput }">
      <app-button
        [label]="'edit page'"
        [className]="'p-button-raised'"
        (handleClick)="editPage()"
        [disabled]="isUploading"
      ></app-button>
      <span *ngIf="!showEditInput">nothing to show</span>
      <ng-container *ngIf="showEditInput">
        <div class="my-3">
          <label for="">Release</label>
          <app-drop-down
            [options]="releases"
            [label]="'name'"
            placeholder="select"
            (changeOption)="handleRelease($event)"
          ></app-drop-down>
        </div>
        <div class="my-3">
          <label for="">Description</label>
          <app-editor [initDescription]="editedDescription" (handleDescription)="handleDescription($event)">
          </app-editor>
        </div>
        <div class="my-3">
          <label for="">Attachments</label>
          <app-file-upload
            [uploadedFiles]="attachments"
            (isUploading)="isUploading = $event"
            (uploadFile)="handleAttahcments($event, '')"
            (deleteFile)="deleteAttahcments($event, '')"
          ></app-file-upload>
        </div>
        <div class="my-3">
          <label for="">UX Attachments</label>
          <app-file-upload
            [uploadedFiles]="uxAttachments"
            (isUploading)="isUploading = $event"
            (uploadFile)="handleAttahcments($event, 'ux')"
            (deleteFile)="deleteAttahcments($event, 'ux')"
          ></app-file-upload>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
