:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .attachments {
    .img {
      width: 150px;
      height: 100px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  .feature-container {
    flex: 1;
    .production {
      column-gap: 5px;
    }
    .draft {
      row-gap: 10px;
    }
    .edit {
      flex: 1;
      gap: 10px;
      app-button {
        align-self: flex-start;
      }
      p-editor {
        width: 100%;
      }

      & > div {
        width: 100%;
      }
    }
  }
}
