<p-dialog
  (onHide)="closeModal()"
  [header]="'create issue'"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="h-full">
    <form class="h-full" [formGroup]="form" *ngIf="form">
      <!-- name and type -->
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col">
          <label class="mb-2" for="name">summary</label>
          <input type="text" pInputText class="w-full px-1 py-2" formControlName="name" name="name" id="name" />
          <div class="mt-1">
            <small *ngIf="formData['name'].touched && formData['name'].invalid" class="p-error">required</small>
          </div>
        </div>
        <div class="p-field col">
          <label class="mb-2" for="type">type</label>
          <p-dropdown
            class="w-full py-2"
            name="type"
            id="type"
            placeholder="type"
            [options]="issueTypes"
            formControlName="type"
          ></p-dropdown>
          <div class="mt-1">
            <small *ngIf="formData['type'].touched && formData['type'].invalid" class="p-error">type</small>
          </div>
        </div>
      </div>
      <!-- reporter and assignee -->
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col">
          <label class="mb-2" for="reporter">reporter</label>
          <p-dropdown
            placeholder="reporter"
            class="w-full py-2"
            name="reporter"
            id="reporter"
            optionLabel="name"
            optionValue="_id"
            [options]="users"
            formControlName="reporter"
          ></p-dropdown>
        </div>
        <div class="p-field col">
          <label class="mb-2" for="assignee">assignee</label>
          <p-dropdown
            placeholder="assignee"
            class="w-full py-2"
            name="assignee"
            id="assignee"
            optionLabel="name"
            optionValue="_id"
            [options]="users"
            formControlName="assignee"
          ></p-dropdown>
        </div>
      </div>
      <!-- priority and components -->
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col">
          <label class="mb-2" for="priority">priority</label>
          <p-dropdown
            class="w-full py-2"
            name="priority"
            id="priority"
            placeholder="priority"
            [options]="issuePriority"
            formControlName="priority"
          ></p-dropdown>
          <div class="mt-1">
            <small *ngIf="formData['priority'].touched && formData['priority'].invalid" class="p-error"
              >priority required</small
            >
          </div>
        </div>
        <div class="p-field col">
          <label class="mb-2" for="components">components</label>
          <p-multiSelect
            [showHeader]="false"
            [options]="components"
            formControlName="components"
            defaultLabel="components"
            display="chip"
          ></p-multiSelect>
        </div>
      </div>
      <!-- version and cbu number-->
      <div class="p-fluid p-formgrid grid" *ngIf="!isTestIssue">
        <div class="p-field col-6">
          <label class="mb-2" for="components">{{ isRelease ? 'version' : 'release' }}</label>
          <p-dropdown
            class="w-full py-2"
            name="version"
            id="version"
            placeholder="{{ isRelease ? 'version' : 'release' }}"
            optionLabel="version"
            optionValue="_id"
            [options]="relaseIssues"
            formControlName="version"
            *ngIf="!isRelease"
          ></p-dropdown>
          <input
            *ngIf="isRelease"
            type="text"
            pInputText
            class="w-full px-1 py-2"
            formControlName="version"
            namer="version"
            id="version"
          />
          <div class="mt-1">
            <small *ngIf="formData['version'].touched && formData['version'].invalid" class="p-error"
              >version required</small
            >
          </div>
        </div>
        <div class="p-field col-6" *ngIf="!isRelease">
          <label class="mb-2" for="components">CBU Number</label>
          <input
            type="text"
            pInputText
            class="w-full px-1 py-2"
            formControlName="cbuNumber"
            namer="cbuNumber"
            id="cbuNumber"
          />
          <div class="mt-1">
            <small *ngIf="formData['cbuNumber'].touched && formData['cbuNumber'].invalid" class="p-error"
              >cbu number required</small
            >
          </div>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid" *ngIf="!isRelease && !isTestIssue">
        <div class="p-field col-6">
          <label class="mb-2">Linked To:</label>
          <p-multiSelect
            [options]="searchedIssues"
            formControlName="linkedIssues"
            (onFilter)="searchLinkedIssues($event)"
            defaultLabel="Select"
            optionLabel="name"
            display="chip"
            class="multiselect-custom"
          >
            <ng-template let-value pTemplate="selectedItems">
              <div class="country-item country-item-value" *ngFor="let option of form.controls['linkedIssues'].value">
                <div>{{ option.name }}</div>
              </div>
              <div
                *ngIf="!form.controls['linkedIssues'].value || form.controls['linkedIssues'].value.length === 0"
                class="country-placeholder"
              >
                Select Issues
              </div>
            </ng-template>
            <ng-template let-issue pTemplate="item">
              <div class="country-item">
                <div>{{ issue.name }}</div>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
      </div>

      <!-- description -->
      <div class="p-fluid p-formgrid grid mt-4">
        <div class="p-field col-12">
          <label class="mb-2" for="components">Description</label>
          <app-editor (handleDescription)="handleDescription($event)"> </app-editor>
        </div>
      </div>
      <!-- attchments -->
      <div class="p-fluid p-formgrid grid mt-4">
        <div class="p-field col-12">
          <label class="mb-2" for="components">Attachments</label>
          <app-file-upload
            [uploadedFiles]="attachments"
            (isUploading)="isUploading = $event"
            (uploadFile)="handleAttahcments($event)"
            (deleteFile)="deleteAttahcments($event)"
          ></app-file-upload>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <app-button
      [label]="isRelease ? 'create release' : 'create issue'"
      icon="pi pi-check"
      [disabled]="!form.valid || isUploading"
      (handleClick)="onSubmit()"
    ></app-button>
  </ng-template>
</p-dialog>
