.img {
  column-gap: 10px;
  app-image-preview {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
  }
}

.files {
  .file {
    width: 150px;
    height: 100%;
    cursor: pointer;
  }
}
