.editor {
  & > div {
    position: relative;

    .menu {
      position: absolute;
      border: 0;
      z-index: 2;
      top: -150px;
      left: 10px;
      text-align: center;
      width: 110px;
      background: white;
      // padding: 5px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 0px black;
      ul {
        li {
          padding: 10px;
          cursor: pointer;
          &:hover,
          &.selected {
            background: #f5f6fb;
            border-radius: 0.5rem;
          }
          &:not(:last-child) {
            border-bottom: 1px solid #ededed;
          }
        }
      }
    }
  }
  p,
  h1,
  h2,
  h3 {
    border: 1px solid green;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0;
    &:focus {
      outline: none;
    }
  }
}
