<p-dialog
  (onHide)="closeModal()"
  [header]="'Add Module'"
  [(visible)]="showModal"
  [modal]="true"
  [style]="{ width: '50vw', height: '48vh' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="h-full">
    <form class="h-full" [formGroup]="form" *ngIf="form">
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col">
          <label class="mb-2" for="name">Name</label>
          <input
            type="text"
            pInputText
            [placeholder]="'Name'"
            class="w-full px-1 py-2"
            formControlName="name"
            name="name"
            id="name"
          />
          <div class="mt-2">
            <small *ngIf="formData['name'].touched && formData['name'].invalid" class="p-error">{{
              'boards.form.errors.name' | translate
            }}</small>
          </div>
        </div>
        <div class="p-field col">
          <label class="mb-2" for="description">Description</label>
          <input
            type="text"
            pInputText
            [placeholder]="'Description'"
            class="w-full px-1 py-2"
            formControlName="description"
            name="description"
            id="description"
          />
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div class="p-field col-6">
          <label class="mb-2" for="name">release</label>
          <p-dropdown
            class="w-full py-2"
            name="release"
            id="release"
            placeholder="release"
            optionLabel="name"
            optionValue="_id"
            [options]="relaseIssues"
            formControlName="release"
          ></p-dropdown>
          <div class="mt-2">
            <small *ngIf="formData['release'].touched && formData['release'].invalid" class="p-error"
              >release required</small
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <app-button
      [label]="'Create Module'"
      icon="pi pi-check"
      [disabled]="!form.valid"
      (handleClick)="onSubmit()"
    ></app-button>
  </ng-template>
</p-dialog>
