<p-table class="table-data" responsiveLayout="stack" [columns]="columns" [value]="data" [rowHover]="true">
  <ng-template pTemplate="caption" ngIf="caption"> {{ caption }} </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let item of columns">{{ item.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData>
    <tr class="cursor-pointer" (click)="handleRowData(rowData)">
      <td *ngFor="let col of columns">
        <span class="p-column-title">{{ col.header }}</span>
        {{ col.field ? rowData[col.key][col.field] : rowData[col.key] }}
      </td>
    </tr>
  </ng-template>
</p-table>
