.issue-container {
  min-width: 20rem;
  max-width: 80vw;
  margin: auto;
  .title {
    cursor: pointer;
    color: var(--blue-500);
  }

  .main-issue {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;

    .left-side {
      flex: 2;
      overflow-y: auto;
      .description {
        .desc {
          &:hover {
            background-color: var(--surface-hover);
            cursor: pointer;
          }
        }
      }
      .attachments {
        .img {
          width: 150px;
          height: 100px;
          border-radius: 5px;
          overflow: hidden;
        }
      }

      .activity {
        .input {
          row-gap: 5px;
        }
      }
    }
    .right-side {
      flex: 1;
    }
  }
  .details {
    div {
      p {
        margin: 1rem 0;
        .component {
          background: var(--surface-d);
          color: var(--blue-600);
          padding: 3px;
          font-weight: lighter;
          border-radius: 3px;
          margin: 0 2px;

          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: var(--blue-800);
          }
        }
      }
    }
  }
  .created {
    span {
      font-weight: lighter;
    }
  }
}
