<div class="issue-container p-2 h-full" *ngIf="issue">
  <h1 class="title">{{ (issue.cbuNumber ? 'CBU-' + issue.cbuNumber : '') + ' ' + issue.name }}</h1>

  <div class="main-issue">
    <div class="left-side px-1 py-3" *ngIf="fromBoard">
      <!-- description from board -->
      <div class="description mt-2">
        <h3>Description</h3>
        <div class="mt-2" [innerHTML]="issue.description | sanitizeHtml"></div>
      </div>
      <!-- attachments from board -->
      <div class="description attachments mt-5" *ngIf="issue.attachments.length">
        <h3>Attachments</h3>
        <div class="mt-2">
          <app-attachments [attachments]="issue.attachments || []"></app-attachments>
        </div>
      </div>

      <!-- activity from board -->
      <div class="description activity mt-5">
        <h3>comments</h3>
        <div class="mt-2">
          <div class="input flex flex-column">
            <app-editor
              [placeholder]="'write your comment'"
              [isComment]="true"
              (handleDescription)="changeCommit($event)"
            >
            </app-editor>
            <app-button
              [className]="'p-button-raised'"
              [label]="'Add comment'"
              (handleClick)="addComment()"
            ></app-button>
          </div>
          <div class="comments-container my-4">
            <div class="comment my-5" *ngFor="let comment of issue.comments">
              <div class="name flex my-3">
                <p>{{ comment.user.name }}</p>
                <p class="mx-3">{{ comment.createdAt | date: 'MMMM d, y, h:mm a' }}</p>
              </div>
              <div class="px-2" [innerHTML]="comment.comment | sanitizeHtml"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <!-- status -->
      <div class="flex justify-content-around align-content-center px-1 py-3">
        <app-drop-down
          [options]="options"
          [label]="'name'"
          placeholder="select"
          [defaultValue]="selectedIssueStatus"
          (changeOption)="changeOption($event)"
        ></app-drop-down>
      </div>

      <!-- description fron backlog -->
      <div class="description px-1 py-3" *ngIf="!fromBoard">
        <h3>Description</h3>
        <div class="mt-2" [innerHTML]="issue.description | sanitizeHtml"></div>
      </div>

      <!-- deatils -->
      <div class="details mt-3">
        <app-accordion [header]="'Details'">
          <div>
            <p>
              assigne: <span>{{ issue.assignee ? issue.assignee.name : 'unassigned' }}</span>
            </p>
            <p>
              reporter: <span>{{ issue.reporter ? issue.reporter.name : 'unassigned' }}</span>
            </p>
            <p *ngIf="issue.components.length">
              components: <span class="component" *ngFor="let comp of issue.components">{{ comp + ' ' }}</span>
            </p>
          </div>
        </app-accordion>
      </div>

      <!-- time created -->
      <div class="created flex flex-column my-3">
        <span class="my-1">Created: {{ issue.createdAt | date: 'MMMM d, y, h:mm a' }}</span>
        <span class="my-1">Updated: {{ issue.updatedAt | date: 'MMMM d, y, h:mm a' }}</span>
      </div>
    </div>
  </div>
</div>
